
body{
  width: 100%;
  height: 5000px;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  background-color: #0A0A0A;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header{
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  box-shadow: 0px 2px #7F7F7F;
}

.headerbackground{
  position: absolute; 
  width: 100%;
  height: 100px;
  object-fit: cover;
  
}

.headercontent{
    position: absolute; 
    top: 0.5%; 
    transform: translate(15%);
    color: #0D0D0D;
    font-size: 45px;
    text-align: center;
    padding: 10px;
    text-shadow: 1.5px 2px 2px rgba(0, 0, 0, 0.5); 
    word-wrap: break-word;
}

.headerlogo {
  display: flexbox;
  position: relative; 
  object-fit: cover;
  transform: scale(0.7);
  translate: -15%;
}

.frame {
  display: flexbox;
  padding-top: 150px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  height: 1080px;
  width: 100%;
}