body {
    background-color: rgb(75, 75, 75);
}
.top {
    background-image:url(https://cdn.discordapp.com/attachments/1185583441799028787/1228722743764058123/image.png?ex=662d143a&is=661a9f3a&hm=6e869218f988805bce29208d89e7232f7b9588207d12b11b370f734fcaafa793&) ;
    background-position-y: 25%;
    padding: 10px;
    text-align: center;
}
.Title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 100px;
    text-shadow: 3px 3px rgb(70, 70, 70);
    color: white;
}
.SubTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 25;
    font-size: 10px;
    color: white;
}
.Header1 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    z-index: 3;
}
.Header2 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 5px;
    text-transform: capitalize;
}
.NormalText{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: white;
}
.content {
    width: 50%;
    padding: 75px;
    align-content: inherit;
    opacity: 0;
    transition: 1s all ease;
}

.content.active {
    width: 50%;
    padding: 75px;
    align-content: center;
    opacity: 1;
}
.media {
    display: flex; 
    align-content: center;
    width: 100%;
    height: 100%;
    border-radius: 15px; border: 5px; 
    z-index: 2;
    
}
div.Left {
    display: flex;
    float:left;
    margin-left: 0%;  
    align-content: center;

    border-radius: 35px;
    border: 5px solid rgb(85,85,85);
    background-color: rgb(80,80,80);
    padding: 30px;
    width: 40%;
    height: 250px;  

    opacity: 0;
    transition: 1s all ease;
}

div.Left.active {
    display: flex;
    float:left;
    margin-left: 5%;  
    align-content: center;

    border-radius: 35px;
    border: 5px solid rgb(85,85,85);
    background-color: rgb(80,80,80);
    padding: 30px;
    width: 40%;
    height: 250px;  

    opacity: 1;
}

div.Right {
    display: flex;
    float:right;
    margin-right: 0%;
    align-content: center;

    border-radius: 35px;
    border: 5px solid rgb(85,85,85);    
    background-color: rgb(80,80,80);
    padding: 30px;
    width: 40%;
    height: 250px; 

    opacity: 0;
    transition: 1s all ease;
}

div.Right.active {
    display: flex;
    float:right;
    margin-right: 5%;
    align-content: center;

    border-radius: 35px;
    border: 5px solid rgb(85,85,85);    
    background-color: rgb(80,80,80);
    padding: 30px;
    width: 40%;
    height: 250px; 

    opacity: 1;
}

#Row {
    display: flex; 
    padding: 100px;
}