.c_frame1-frame {
    width: 100%;
    overflow: hidden;
    max-width: 1920px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #0a0a0a;
  }
  
  .c_frame1-frame1,
  .c_frame1-frame2,
  .c_frame1-frame3 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 588px;
    border-top: 1px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 25px 25px 25px 25px;
  }
  
  .c_frame1-text,
  .c_frame1-text01 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-text {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_frame1-text01 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-family: "Fira Mono",monospace;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-ellipse,
  .c_frame1-ellipse1,
  .c_frame1-ellipse2,
  .c_frame1-ellipse3 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 50px;
    border-radius: 100%;
  }
  
  .c_frame1-text02 {
    width: 100%;
    max-width: 204px;
    min-height: 23px;
  }
  
  .c_frame1-text02,
  .c_frame1-text03,
  .c_frame1-text04 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-text03 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-family: "Fira Mono",monospace;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-text04 {
    width: 100%;
    max-width: 204px;
    min-height: 23px;
  }
  
  .c_frame1-text05 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-family: "Fira Mono",monospace;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-text05,
  .c_frame1-text06,
  .c_frame1-text07 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-text06 {
    width: 100%;
    max-width: 204px;
    min-height: 23px;
  }
  
  .c_frame1-text07 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-family: "Fira Mono",monospace;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-text08 {
    width: 100%;
    max-width: 204px;
    min-height: 23px;
  }
  
  .c_frame1-text08,
  .c_frame1-text09,
  .c_frame1-text10 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-text09 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-family: "Fira Mono",monospace;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-text10 {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_frame1-text11 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-family: "Fira Mono",monospace;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-text11,
  .c_frame1-text12,
  .c_frame1-text13 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-text12 {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_frame1-text13 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-family: "Fira Mono",monospace;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-rectangle {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 500px;
    border-radius: 250px 250px 250px 250px;
  }
  
  .c_frame1-text14 {
    width: 100%;
    max-width: 986px;
    min-height: 520px;
  }
  
  .c_frame1-text14,
  .c_frame1-text15 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-text16,
  .c_frame1-text17,
  .c_frame1-text18,
  .c_frame1-text19,
  .c_frame1-text20 {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-family: "Fira Mono",monospace;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-text17,
  .c_frame1-text18,
  .c_frame1-text19,
  .c_frame1-text20 {
    font-weight: 700;
  }
  
  .c_frame1-text18,
  .c_frame1-text19,
  .c_frame1-text20 {
    font-weight: 400;
  }
  
  .c_frame1-text19,
  .c_frame1-text20 {
    font-weight: 700;
  }
  
  .c_frame1-text20 {
    font-weight: 400;
  }
  
  .c_frame1-frame4 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 100px;
    max-height: 100px;
  }
  
  .c_frame1-polygon,
  .c_frame1-polygon1 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    opacity: .25;
    max-width: 19.999755859375px;
    transform: rotate(90deg);
  }
  
  .c_frame1-polygon1 {
    transform: rotate(-90deg);
  }
  
  .c_frame1-frame5 {
    width: 100%;
    overflow: hidden;
    max-width: 1920px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .c_frame1-text21 {
    width: 100%;
    max-width: 576px;
    margin-top: 0;
    min-height: auto;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-text22,
  .c_frame1-text23,
  .c_frame1-text24,
  .c_frame1-text25,
  .c_frame1-text26,
  .c_frame1-text27,
  .c_frame1-text28,
  .c_frame1-text29,
  .c_frame1-text30,
  .c_frame1-text31 {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Fira Mono",monospace;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-text23,
  .c_frame1-text24,
  .c_frame1-text25,
  .c_frame1-text26,
  .c_frame1-text27,
  .c_frame1-text28,
  .c_frame1-text29,
  .c_frame1-text30,
  .c_frame1-text31 {
    font-weight: 400;
  }
  
  .c_frame1-text32 {
    width: 100%;
    max-width: 497px;
    min-height: auto;
  }
  
  .c_frame1-text32,
  .c_frame1-text33,
  .c_frame1-text34 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-text33 {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-family: "Fira Mono",monospace;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-text34 {
    width: 100%;
    max-width: 519px;
    min-height: auto;
  }
  
  .c_frame1-text35,
  .c_frame1-text36,
  .c_frame1-text37,
  .c_frame1-text38,
  .c_frame1-text39,
  .c_frame1-text40,
  .c_frame1-text41,
  .c_frame1-text42,
  .c_frame1-text43 {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Fira Mono",monospace;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-text36,
  .c_frame1-text37,
  .c_frame1-text38,
  .c_frame1-text39,
  .c_frame1-text40,
  .c_frame1-text41,
  .c_frame1-text42,
  .c_frame1-text43 {
    font-weight: 400;
  }
  
  .c_frame1-text44,
  .c_frame1-text45,
  .c_frame1-text46 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-text46 {
    width: 100%;
    max-width: 557px;
    min-height: auto;
  }
  
  .c_frame1-text47,
  .c_frame1-text48,
  .c_frame1-text49,
  .c_frame1-text50,
  .c_frame1-text51,
  .c_frame1-text52,
  .c_frame1-text53,
  .c_frame1-text54,
  .c_frame1-text55 {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    margin-top: 0;
    text-align: left;
    font-family: "Fira Mono",monospace;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-text48,
  .c_frame1-text49,
  .c_frame1-text50,
  .c_frame1-text51,
  .c_frame1-text52,
  .c_frame1-text53,
  .c_frame1-text54,
  .c_frame1-text55 {
    font-weight: 400;
  }
  
  .c_frame1-text56 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-frame6 {
    width: 100%;
    overflow: hidden;
    max-width: 1920px;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
    align-items: flex-start;
    border-bottom: 5px solid #7f7f7f;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #00cc52;
  }
  
  .c_frame1-rectangle1,
  .c_frame1-vector {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 1920px;
  }
  
  .c_frame1-vector {
    max-width: 136px;
  }
  
  .c_frame1-text57,
  .c_frame1-text58 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_frame1-text57 {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_frame1-text58 {
    color: #0d0d0d;
    font-size: 96px;
    font-style: normal;
    font-family: "Fira Mono",monospace;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_frame1-rectangle2 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 126px;
    border-radius: 52px 52px 52px 52px;
  }