

body{
  width: 100%;
  height: 5000px;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  background-color: #0A0A0A;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header{
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  box-shadow: 0px 2px #333333;
  z-index: 50;
}

.headerbackground{
  position: absolute; 
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-image:  url("./assets/Noblefrix.png");
  background-repeat: no-repeat;
  background-position-x: 25%;
  background-position-y: 47% ;
  background-size: 100%;
}

.headercontent{
    position: absolute; 
    top: 0.5%; 
    transform: translate(15%);
    color: #0D0D0D;
    font-size: 45px;
    text-align: center;
    padding: 10px;
    text-shadow: 1.5px 2px 2px rgba(0, 0, 0, 0.5); 
    word-wrap: break-word;
}

.headerlogo {
  display: flex;
  position: relative; 
  object-fit: cover;
  transform: scale(0.7);
  translate: -15%;
}

.frame {
  flex-direction: column;
  display: flex;
  padding-top: 150px;
  margin: auto;
  height: 1080px;
  width: 100%;
}

.about-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
h1{
  margin: 25px;
  align-items: center;
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  text-align: left;
}
.pfpframe{
  display: flex;
  margin-left: 10%;
  height: 500px;
  width: 500px;
  border-radius: 100%;
  border: 2.5px solid #333333;
}

.pfp{
  max-height: 100%;
  max-width: 100%;
  border-radius: 100%;
  object-fit: cover;
  align-items: center;
}

.about-textbox{
  display: flex;
  overflow: hidden;
  justify-content: right;
  margin-left: 50px;
  max-height: 500px;
  width: 50%;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  align-items: center;
  text-shadow: 1.5px 2px 2px rgba(0, 0, 0, 0.5);
}

.scrollcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 85%;
  border-radius: 20px;
  padding: 10px;
}

.scrollcontent {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  border-radius: 5px;
  width: calc((480px * 3) + (15px * 2)); 

}

.scrollcontent::-webkit-scrollbar {
  display: none;
}

.content {
  min-width: 500px; 
  max-width: 500px;
  height: 281px;
  background-color: #796287;
  margin-right: 15px; 
  margin-left: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #333333;
}


.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease; 
}


.centered {
  filter: blur(0px); 
  transition: filter 0.3s ease; 
}

.button{
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
}

.showcase-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-shadow: 1.5px 2px 2px rgba(0, 0, 0, 0.5);
}

.showcase-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 98.5%;
  gap: 30px;
  margin: 10px;
}

.showcase-content{
  height: 500px;
  width: 32%;
  background-color: #333333;
}

.empty{
  margin: auto;
}